@import url("@/styles/normalize.css");
@import url("@picocss/pico/css/pico.min.css");

html,
body,
#root {
  height: 100%;
}

body > #__next {
  height: 100%;
}

button {
  border-radius: 0;
  width: auto;
  display: inline-block;
  margin-bottom: 0;
}
