.testList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 20px 40px;
  margin: 20px;
}

.test {
  text-align: center;
}

.link {
  width: 100%;
  border-radius: 0;
  display: inline-block;
  margin-bottom: 0;
}
