.test-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
  gap: 20px 20px;
  margin: 20px;
}

.test-list > div {
  text-align: center;
  a {
    width: 100%;
    button {
      width: 100%;
    }
  }
}

@media (min-width: 768px) {
  .test-list {
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  }
}
